<%= form_for(@client_project_assignment) do |f| %>
  <% if @client_project_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_project_assignment.errors.count, "error") %> prohibited this client_project_assignment from being saved:</h2>

      <ul>
      <% @client_project_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
